.title_adopcion{
    display: flex;
    flex-direction: column;
    h1{
        text-align: center;;
    }

    img {
        align-self: center;
        margin: 0px;
        max-height: 90px;
      }
}

.box_adopcion{
    padding: 20px;
    border: solid 1px gray;
    border-radius: 10px;
}