.filtros{
    display: flex;
    font-size: 15px;
    flex-direction:  row;
    .combobox{
        display: flex;
        flex-direction: row;
    }
    .botones{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }
    select{
        width: 25%;
    }
    label{
     padding:0px  10px;   
    }
    button{
        background-color: black;
        color: white;
        width: 20%;
        margin-left: 20px;
    }
}