.header {

  .logo-container {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 300px;
    .logo{
      height: 100%;
      width: 70px;
      height: 70px;
      margin-left: 40px;
      align-self: flex-start;
    }
    p{
      align-self: flex-start;
    }
    &:hover{
      
      font-weight: 600;
      color: black;
    }
  }

  .options {
    font-size: 20px;
  
    .option {
      cursor: pointer;
      &:hover{
        font-weight: 600;
        color: black;
      }
    }
  }
}
